body{
margin:0;
overflow:hidden;
font-family:Arial;
}

#ui{
position:absolute;
top:10px;
left:10px;
color:white;
font-size:22px;
z-index:10;
}

#banner{
position:absolute;
top:40%;
width:100%;
text-align:center;
font-size:70px;
color:white;
display:none;
z-index:10;
}

#hit{
position:absolute;
bottom:30px;
left:50%;
transform:translateX(-50%);
padding:15px 30px;
font-size:20px;
z-index:10;
}
